In [1]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\kaladevi\sample\.venv\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\kaladevi\sample\.venv\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in c:\users\kaladevi\sample\.venv\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\kaladevi\sample\.venv\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\kaladevi\sample\.venv\lib\site-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kaladevi\sample\.venv\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\kaladevi\sample\.venv\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#importing zipfile to unzip the File
import zipfile

In [2]:
#unzipping file
with zipfile.ZipFile("C:\\Users\\kaladevi\\sample\\-\\.kaggle\\orders.csv.zip","r") as file:
    file.extractall("orders")

In [3]:
#creating the file to csv by importing operating system(os)
import os
os.listdir("orders")

['orders.csv']

In [4]:
#importing pandas to read csv file
import pandas as pd

In [5]:
#reading the csv file in dataframe
df=pd.read_csv("orders/orders.csv")
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [6]:
#info of dataframe to see the types of object
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [7]:
#to show the column names
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [8]:
# to see the number null values presnt in each columns
df.isna().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [9]:
# to fill the null values with 0
df.fillna({'Ship Mode':0},inplace=True)

In [10]:
#to see the changes made
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [11]:
# to check the correction
df.isna().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [12]:
#to see number of rows and columns
df.shape

(9994, 16)

In [13]:
#to check the number of non nulls and data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9994 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [14]:
#to rename the column names
df.rename(columns={'Order Id':'ORDER_ID','Order Date':'ORDER_DATE','Ship Mode':'SHIP_MODE','Segment':'SEGMENT','Country':'COUNTRY','City':'CITY','State':'STATE','Postal Code':'POSTALl_CODE','Region':'REGION','Category':'CATEGORY','Sub Category':'SUB_CATEGORY','Product Id':'PRODUCT_ID','cost price':'COST_PRICE','List Price':'LIST_PRICE','Quantity':'QUANTITY','Discount Percent':'DISCOUNT_PERCENT'},inplace=True)

In [15]:
#after renaming the column names
df

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [16]:
# column info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   object
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [17]:
#to change the data type 
df['ORDER_DATE']=pd.to_datetime(df['ORDER_DATE'])

In [18]:
#seeing the data change
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   datetime64[ns]
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 1.2+ MB

In [19]:
#changing the type of datas
df['SEGMENT']=df['SEGMENT'].str.rstrip()

In [20]:
#checking the type og "SEGMENT"set
type({"SEGMENT"})

set

In [21]:
df['COUNTRY']=df['COUNTRY'].str.rstrip()

In [22]:
type({"COUNTRY"})

set

In [23]:
df['CITY']=df['CITY'].str.rstrip()

In [24]:
df['STATE']=df['STATE'].str.rstrip()

In [25]:
df['REGION']=df['REGION'].str.rstrip()

In [26]:
df['CATEGORY']=df['CATEGORY'].str.rstrip()

In [27]:
df['SUB_CATEGORY']=df['SUB_CATEGORY'].str.rstrip()

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   datetime64[ns]
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 1.2+ MB

In [29]:
df

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [30]:
#calculating discount
df['DISCOUNT']=(df['LIST_PRICE']*df['DISCOUNT_PERCENT'])/100

In [31]:
#discount column
df['DISCOUNT']

0        5.2
1       21.9
2        0.5
3       19.2
4        1.0
        ...
9989     1.2
9990     3.6
9991     5.2
9992     0.9
9993     7.2
Name: DISCOUNT, Length: 9994, dtype: float64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   datetime64[ns]
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
 16  DISCOUNT          9994 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 1.3+ MB

In [33]:
df.fillna({'DISCOUNT':0},inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   datetime64[ns]
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
 16  DISCOUNT          9994 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(6), object(9)
memory usage: 1.3+ MB

In [35]:
df

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT,DISCOUNT
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2

In [36]:
#calculating profit
df['PROFIT']=df['LIST_PRICE']-df['COST_PRICE']

In [37]:
df

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT,DISCOUNT,PROFIT
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,20
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,130
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,180
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,0
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,20
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,40
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,0
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,30

In [38]:
#calculating sales 
df['SALE_PRICE']=df['LIST_PRICE']-df['DISCOUNT']

In [39]:
#adding new column in dataframe
df

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT,DISCOUNT,PROFIT,SALE_PRICE
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,20,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,130,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,0,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,180,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,0,28.8
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,20,86.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,40,254.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,0,29.1
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,30,232.8

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDER_ID          9994 non-null   int64
 1   ORDER_DATE        9994 non-null   datetime64[ns]
 2   SHIP_MODE         9994 non-null   object
 3   SEGMENT           9994 non-null   object
 4   COUNTRY           9994 non-null   object
 5   CITY              9994 non-null   object
 6   STATE             9994 non-null   object
 7   POSTALl_CODE      9994 non-null   int64
 8   REGION            9994 non-null   object
 9   CATEGORY          9994 non-null   object
 10  SUB_CATEGORY      9994 non-null   object
 11  PRODUCT_ID        9994 non-null   object
 12  COST_PRICE        9994 non-null   int64
 13  LIST_PRICE        9994 non-null   int64
 14  QUANTITY          9994 non-null   int64
 15  DISCOUNT_PERCENT  9994 non-null   int64
 16  DISCOUNT          9994 non-null   float64
 17  PROFIT            9994 non-null   int64
 18  SALE_PRICE        9994 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(7), object(9)
memory usage: 1.4+ MB

In [41]:
#seperating the dataframe from 1 to 9 columns naming df_Order1
df_Order1=df.iloc[:,:9]

In [42]:
#1 to 9 columns in df_Order1
df_Order1

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [43]:
#info of df_Order1 table
df_Order1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORDER_ID      9994 non-null   int64
 1   ORDER_DATE    9994 non-null   datetime64[ns]
 2   SHIP_MODE     9994 non-null   object
 3   SEGMENT       9994 non-null   object
 4   COUNTRY       9994 non-null   object
 5   CITY          9994 non-null   object
 6   STATE         9994 non-null   object
 7   POSTALl_CODE  9994 non-null   int64
 8   REGION        9994 non-null   object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 702.8+ KB

In [44]:
#seperating second dataframe from 10 to19 as df_Order2
df_Order2=df.iloc[:,9:]

In [45]:
#10 to 19 columns
df_Order2

,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT,DISCOUNT,PROFIT,SALE_PRICE
0,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,20,254.8
1,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,130,708.1
2,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,0,9.5
3,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,180,940.8
4,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,0,19.0
...,...,...,...,...,...,...,...,...,...,...
9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,0,28.8
9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,20,86.4
9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,40,254.8
9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,0,29.1
9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,30,232.8

In [46]:
#converting df_Oder1 to csv file
df1=df_Order1.to_csv(r"C:\Users\kaladevi\sample\.venv\df_Order1.csv")

In [48]:
#converting df_Order2 to csv file
df2=df_Order2.to_csv(r"C:\Users\kaladevi\sample\.venv\df_Order2.csv")

In [49]:
#reading df_csv file as df1
df1=pd.read_csv(r"C:\Users\kaladevi\sample\.venv\df_Order1.csv",index_col=0)

In [50]:
df1

,ORDER_ID,ORDER_DATE,SHIP_MODE,SEGMENT,COUNTRY,CITY,STATE,POSTALl_CODE,REGION
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South
...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West

In [51]:
import pandas as pd

In [52]:
#reading df_Order2 csv file as df2
df2=pd.read_csv(r"C:\Users\kaladevi\sample\.venv\df_Order2.csv",index_col=0)

In [53]:
df2

,CATEGORY,SUB_CATEGORY,PRODUCT_ID,COST_PRICE,LIST_PRICE,QUANTITY,DISCOUNT_PERCENT,DISCOUNT,PROFIT,SALE_PRICE
0,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,20,254.8
1,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,130,708.1
2,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,0,9.5
3,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,180,940.8
4,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,0,19.0
...,...,...,...,...,...,...,...,...,...,...
9989,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,0,28.8
9990,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,20,86.4
9991,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,40,254.8
9992,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,0,29.1
9993,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,30,232.8

In [54]:
#importing sqlalchemy to insert dataframe csv file in python to sql database
import sqlalchemy

In [55]:
#to create cursor connection to postgressql
import psycopg2
connection = psycopg2.connect(
    host = "localhost",
    user = "postgres",
    password = "ganesh24"
    
    
)

mediator = connection.cursor()

mediator.execute("select datname from pg_database")
                 
db_names = mediator.fetchall()

In [56]:
from sqlalchemy import create_engine
import pandas as pd

host = "localhost"
user = "postgres"
password = "ganesh24"
database = "retaildb"

engine = create_engine(f"postgresql://{user}:{password}@{host}/{database}")
dataframe1 = pd.read_csv('C:\\Users\\kaladevi\\sample\\.venv\\df_Order1.csv',index_col=0)
table_name = "dataframe1"
dataframe1.to_sql(table_name,engine,if_exists="replace",index=False)
print("successfully inserted")

successfully inserted

In [57]:
from sqlalchemy import create_engine
import pandas as pd

host = "localhost"
user = "postgres"
password = "ganesh24"
database = "retaildb"

engine = create_engine(f"postgresql://{user}:{password}@{host}/{database}")
dataframe2 = pd.read_csv('C:\\Users\\kaladevi\\sample\\.venv\\df_Order2.csv',index_col=0)
table_name = "dataframe2"
dataframe2.to_sql(table_name,engine,if_exists="replace",index=False)
print("successfully inserted")

successfully inserted